python-telegram-bot==21.4
playwright==1.46.0
playwright-stealth==1.0.6
APScheduler==3.10.4
SQLAlchemy==2.0.32
python-dotenv==1.0.1
cryptography==43.0.0
httpx==0.27.0
ntplib==0.4.0
2captcha-python==1.2.5
loguru==0.7.2
